body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.dialog-success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.dialog-info{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.dialog-warning{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.dialog-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.dialog{
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 2px;
    -moz-box-shadow: 2px 2px 2px;
    box-shadow: 2px 2px 2px;
    position: absolute;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
